.cont-2{behavior:url(js/PIE.htc);filter:alpha(opacity=77);}
.size-4{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=-1.000000, SizingMethod='auto expand')";}
.size-14{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=-1.000000, SizingMethod='auto expand')";}
.size-17{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-18{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-26{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-34{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-35{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-68{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-69{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-80{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
